@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
}

@font-face {
    font-family: "Modius";
    src: url("./assets/fonts/Modius-Bold.woff");
}

.modius {
    font-family: "Modius";
    font-weight: 900;
}

.ibm-plex {
    font-family: "IBM Plex Sans";
    font-weight: 500;
}

.red {
    color: rgb(255, 0, 0);
}

.red-text-shadow {
    text-shadow: 0.3rem 0.3rem rgb(255, 0, 0);
}